* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calculator {
  border: 2px solid lightskyblue;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: navy;
  border-radius: 3%;
}

#display {
  box-sizing: border-box;
  word-wrap: break-word;
  border: 1px solid black;
  margin: 5px auto 10px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 290px;
  font-size: 30px;
  background-color: white;
}

#display #displayAlt {
  min-height: 20px;
  max-width: 285px;
  font-size: 15px;
}

#display #displayMain {
  margin-top: auto;
  min-height: 35px;
  max-width: 285px;
}

#buttons{
  display: flex;
  height: 240px;
}

#main {
  display: flex;
  flex-flow: row wrap;
  flex: 3;
}

#side {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 2;
}

#side button {
  background-color: turquoise;
}

button {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-color: lightblue;
  border-radius: 10%;
  font-size: 18px;
}

#side #equals {
  height: 110px;
  background-color: #f49f1c;
}